

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 14vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: fuchsia;
}

.burger {
    width: 32px;
    height: 24px;
    cursor: pointer;
    z-index: 20;
    margin-left: 4rem;
    margin-top: 1rem;
}

.burger span {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 12px;
    display: block;
    transition: background-color 0.5s ease-in-out;
}

.burger span::before,
.burger span::after {
    content: "";
    width: 100%;
    background-color: black;
    display: block;
    transition: all 0.5s ease-in-out;
    border-radius: 12px;
    height: 4px;
}

.burger span::before {
    transform: translateY(-10px);

}

.burger span::after {
    transform: translateY(10px);
    margin-top: -4px;
}

.burger.active span {
    background-color: transparent;
}

.burger.active span::before {
    transform: rotateZ(45deg) translateY(0);
}

.burger.active span::after {
    transform: rotateZ(-45deg) translateY(0);
}

.popupdiv {
    position: fixed;
    top: 0;
    left: 0;
    background-color: blue;
    width: 10rem;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.search {
    width: 20rem;
    height: 2rem;
}

.shop {
    width: 20rem;
    height: 2rem;
}

.shopbtn {
    width: 10rem;
    height: 2rem;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}

.shopbtn:hover {
    background-color: white;
    color: purple;
    border: 1px solid purple;
    transition: all 0.5s ease-in-out;
}



.footerContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 14vh;

}


.shopcard {
    background-color: yellowgreen;
    width: 10rem;
    height: 4rem;
}